/*Specification*/

body {
    font-family: 'Museo Sans Cyrl', sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.02em;
    padding: 0;
    margin: 0;
}

div, p, a, ul, li, img, span, section, header, footer, h1, h2, h3, h4, h5, h6, form, input, button {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, li {
    display: block;
}

input, button, a {
    outline: 0 !important;
    border: none;
}



.change_font, .menu__ref, .title {
    font-family: 'Natasha', sans-serif;
    font-weight: 100;
}



/*header*/

.header {
    background: url("../img/background-2.jpg") no-repeat center center / cover;

}

.menu__main {
    margin-bottom: 300px;
    margin-top: 50px;
}

.menu__ref {
    color: #000;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 19px;
    text-decoration: none;
    outline:none !important;
}



.menu-open {
    margin-top: 40px;
    margin-bottom: 40px;
}

.menu__ref:hover {
    text-decoration: none !important;
    border: none;
    color: #fbe600;
    outline:0 !important;
    text-shadow: 0px 3px 0px #b2a98f,
    0px 14px 10px rgba(0,0,0,0.15),
    0px 24px 2px rgba(0,0,0,0.1),
    0px 34px 30px rgba(0,0,0,0.1);

}

.item__ref {
    color: #000;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 19px;
    text-decoration: none;
    outline:none !important;
}
.item__ref:hover {
    text-decoration: none !important;
    border: none;
    color: yellow;
    outline:0 !important;
}



.developer_name {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 600;
    margin: 0 auto;
    color: #000;
    opacity: 0.7;
    text-shadow: 0px 3px 0px #b2a98f,
    0px 14px 10px rgba(0,0,0,0.15),
    0px 24px 2px rgba(0,0,0,0.1),
    0px 34px 30px rgba(0,0,0,0.1);

}

.develop__purpose {
    font-family: 'MuseoSansCyrl', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 25px;
    margin-bottom: 400px;
    color: #000;
    letter-spacing: 0.12em;

}

.develop__purpose:hover {
    letter-spacing: 0.32em;
    transition: 1s;
    font-weight: 600;
    text-shadow: 0px 3px 0px #b2a98f,
    0px 14px 10px rgba(0,0,0,0.15),
    0px 24px 2px rgba(0,0,0,0.1),
    0px 34px 30px rgba(0,0,0,0.1);

}

    /*about*/

.about {
    margin-bottom: 100px;
}
.title {
    font-size: 40px;
    font-weight: 600;
    margin: 70px auto 30px;
    width: 300px;
    text-align: center;
    text-shadow: 0px 3px 0px #b2a98f,
    0px 2px 10px rgba(0,0,0,0.15),
    0px 7px 2px rgba(0,0,0,0.1),
    0px 12px 30px rgba(0,0,0,0.1);
    /*padding-bottom: 20px;*/
    /*border-bottom: 3px solid #6d6d65;*/
    /*background: rgba(0,0,0, 0.03);*/
    /*background: linear-gradient(to top, #fff, #bcbbbb);*/

}

.title_text {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20px;
}
.developer__info_item {
    margin-top: 15px;
}

.developer__text, .developer__info {
    margin-top: 5px;
    font-size: 20px;
    text-align: justify;
}

/*experience*/

.experience {
    background: url("../img/background-second1.jpg") no-repeat center center / cover;
    padding-bottom: 100px;
}
.title_four1,.ti,.title_four {
    font-weight: 600;
    color: #16181b;
}
.title_two, .title_three {
    font-family: 'Natasha', sans-serif;
    color: gray();
    margin: 10px auto;
    max-width: 500px;
    /*text-align: center;*/

}
.df2 {
    float: left;
    margin-left: 0;
}
.title_three {
    margin-top: 20px;
    font-size: 21px;
    text-align: center;
}
.fa-graduation-cap {
    margin-right: 10px;
}

.title_four {
    text-align: center;
    margin: 20px 0 20px auto;
}

.fa-map-marker, .fa-cog {
    margin-right: 15px;

}
.fa-link {
    color: red;
}
.title__href {
    font-size: 20px;
    color: #000;
    font-weight: 400;

}
.title__href:hover {
    text-decoration: none;
    color: red;
}

    /*skills*/

.fa-check-circle, .fa-sitemap, .fa-keyboard-o, .fa-th {
    margin-right: 15px;
}

.title_two {
    margin-top: 35px;
    margin-bottom: 45px;
    text-align: center;
}

.skills__item {
    font-size: 20px;
    margin-top: 5px;
}

/*contact*/
.contact {
    margin-top: 40px;
}

.contact_link {
    color: #fff;
    font-weight: 600;
    border: 2px solid #c1c1c1;
    background: rgba(151,150,155,0.5);
    padding: 10px 40px;
    margin-bottom: 40px;
}
.contact_link:hover {
    background: #b4a9a7;
    text-decoration: none;
    color:#fbe600;
    text-shadow: 0px 3px 0px #b2a98f,
    0px 2px 10px rgba(0,0,0,0.15),
    0px 7px 2px rgba(0,0,0,0.1),
    0px 12px 30px rgba(0,0,0,0.1);

}

/* Buzz Out */
@-webkit-keyframes buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

@keyframes buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

.buzz-out {
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.buzz-out:hover, .buzz-out:focus, .buzz-out:active {
    -webkit-animation-name: buzz-out;
    animation-name: buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/*footer*/

.footer {
    background: url("../img/background-2.jpg") no-repeat center center / cover;
    padding: 30px 0;
}

.credit {
    font-size: 14px;
    font-weight: 600;
    color: #3c3c3c;
}



.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    cursor: default;
    -webkit-perspective: 900px;
    -moz-perspective: 900px;
    -o-perspective: 900px;
    -ms-perspective: 900px;
    perspective: 900px;
}
.ch-info{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.ch-info > div {
    display: block;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-position: center center;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.ch-info .ch-info-front {
    box-shadow: inset 0 0 0 16px rgba(0,0,0,0.3);
}

.ch-info .ch-info-back {
    -webkit-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
    -moz-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
    -o-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
    -ms-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
    transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
    background: #000;
    opacity: 0;
}

.ch-img-1 {
    background: url("../img/photo.png") no-repeat center top;
}


.ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    margin: 0 15px;
    padding: 60px 0 0 0;
    height: 110px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow:
            0 0 1px #fff,
            0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
    color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
    display: block;
    color: #fff;
    color: rgba(255,255,255,0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
    color: #fff222;
    color: rgba(255,242,34, 0.8);
}

.ch-item:hover .ch-info-front {
    -webkit-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
    -moz-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
    -o-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
    -ms-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
    transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
    opacity: 0;
}

.ch-item:hover .ch-info-back {
    -webkit-transform: rotate3d(1,0,0,0deg);
    -moz-transform: rotate3d(1,0,0,0deg);
    -o-transform: rotate3d(1,0,0,0deg);
    -ms-transform: rotate3d(1,0,0,0deg);
    transform: rotate3d(1,0,0,0deg);
    opacity: 1;
}

.ch-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 300px;
}

.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}

.ch-grid:after {
    clear: both;
}

.ch-grid li {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 20px;
}


/*_________*/


.arrow {
    display: block;
    width: 50px;
    height: 50px;
    border:1px solid #000;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    line-height: 50px;
    text-align: center;
    color:#000;
    text-decoration: none;
    margin: 50px auto;
    font-size: 30px;
    font-weight: 900;
}
.arrow:hover {
    color:#fbe600;
    border:2px solid #fbe600;
    width: 55px;
    height: 55px;
    -moz-border-radius: 55px;
    -webkit-border-radius: 55px;
    line-height: 55px;
    transition: 0.09s;
    font-size: 35px;
    font-weight: 900;
    background-color: rgba(0,0,0,0.1);
    text-shadow: 0px 3px 0px #b2a98f,
    0px 2px 10px rgba(0,0,0,0.15),
    0 7px 2px rgba(0,0,0,0.1),
    0px 12px 30px rgba(0,0,0,0.1);

}


/*back to top*/
#wrapper{
    margin:0 auto;
    width:900px;
    position:relative;
}

/*Стилизация кнопки ВВЕРХ */
#back-top{
    position:fixed;
    bottom:30px;
    left:90%;
}

#back-top a{
    width:64px;
    display:block;
    text-align:center;
    font:11px/100% Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    text-decoration:none;
    color:#bbb;
    /* background color transition */
    -webkit-transition:1s;
    -moz-transition:1s;
    transition:1s;
}

#back-top a:hover{color:#fff;}

/* графическая стрелка ВВЕРХ */
#back-top span{
    width:54px;
    height:54px;
    display:block;
    margin-bottom:7px;
    background:#ddd url("../img/up-arrow.png") no-repeat center center;
    /* rounded corners */
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    /* background color transition */
    -webkit-transition:1s;
    -moz-transition:1s;
    transition:1s;
}


#back-top a:hover span{background-color:#777}



@media screen and (max-width: 768px) {
    .ch-info-front {
        margin-left: 70px;
    }

    .developer__info {
        margin: 0 auto;
        text-align: center;
    }
}
@media screen and (max-width: 470px) {
    .ch-info-front {
        margin-left: 50px;
    }
    .menu__main {
        flex-direction: column;
        text-align: center;
    }
    .developer__info {
        margin: 0 auto;
        text-align: center;
    }
}
@media screen and (max-width: 425px) {
    .menu__main {
        flex-direction: column;
        text-align: center;
    }
    .ch-info-front {
        margin-left: 20px;
    }

}
@media screen and (max-width: 378px) {
    .ti {
        margin: 10px auto;
        text-align: center;
    }
    .developer_name {
        font-size: 40px;
    }
    #back-top {
        left:80%;
    }

    .ch-item {
        display: none;
    }
}
